@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#productGalleryThumbs {
  max-height: 560px;
}
#productGalleryThumbs .swiper-slide {
  height: 100% !important;
   &.swiper-slide-thumb-active{
     @apply border-black;
   }
}
